@import '../sass/base/variables';

/* HEADER */
// a {
//     font-family: 'Arastin';
//   }
  
  // a:hover {
  //   transform: scale(150%);
  //   transition-duration: 2s;
  // }
 
  .logomenu {
    position: relative;
    margin-top: 50%;
  }
  
  /* Header colapsado */
  
  .menucolapsado {
    display: flex;
    justify-content: center;
  }
  
  /* FIN DE HEADER*/

  /* Nesting */
    header {
      nav {
        div {
          div {
            div {
              a {
                font-family: 'Arastin';
                &:hover {
                  transform: scale(150%);
                  transition-duration: 2s;
                }
              }
            }
          }
        }
      }
    }