* {
  margin: 0;
  padding: 0;
}

/* Características generales */
@font-face {
  font-family: 'Arastin';
  src: url('fonts/ArastinStd.ttf');
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

.activado {
  background-color: rgba(0,0,0, 0.5);
  border-radius: 3px;
  text-align: center;
}

.activado:hover {
  transform: none;
}

.centro {
  text-align: center;
}
/* Fin Características generales */

/* BIENVENIDA */

.bienvenida {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  margin-left: 40%;
}

.bienvenida:hover {
  transform: scale(2);
  transition-duration: 2s;
}

@media only screen and (max-width: 980px) {
  .bienvenida {
    margin-top: 150px;
    margin-left: 30%;
  }
}

/* FIN DE BIENVENIDA*/

/* HEADER */
a {
  font-family: 'Arastin';
}

a:hover {
  transform: scale(150%);
  transition-duration: 2s;
}

.logomenu {
  position: relative;
  margin-top: 50%;
}

/* Header colapsado */

.menucolapsado {
  display: flex;
  justify-content: center;
}

/* FIN DE HEADER*/



/*CONTACTO*/

form {
  width: 500px;
  margin: auto;
  background: rgba(0,0,0, 0.5);
  padding: 20px 40px;
  box-sizing: border-box;
  margin-top: 40px;
  border-radius: 5px;
}

h2 {
  color: white;
  font-family: 'Arastin';
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  margin-bottom: 100px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 15px;
  border: none;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#boton {
  background: black;
  color: white;
  font-family: 'Arastin';
  padding: 20px;
}

#boton:hover {
  cursor: pointer;
  background-color: rgba(0,0,0, 0.5);
}

/*FIN DE CONTACTO*/

/* Secciones */

body {
  background-image: url('images/figurin-vestido1.jpg');
  background-repeat: no-repeat;
  background-size: 100vw;
  margin: 0;
}

/* Fin Secciones */

/* Footer Fijo */

.letrablanca {
  font-family: 'Arastin';
  color: black;
}

.letrablanca:hover {
  color: white;
}

/* Fin Footer Fijo*/